*{
 box-sizing: border-box;
}

div{
    height: 30px;
    width: 30px;
    border: 2px red solid;
    margin: 10px;
    background-color: yellow;
}

body{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    border: 2px solid black
    ;
}

.b{
    display: flex;
    align-items: center;
}