.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.calc{
  color: black;
  font-weight: bold;
  height: auto;
  width: 400px;
  border: 2px solid black;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(7, 1fr);
}

.gridelem{
  border: 2px solid greenyellow;
}

/* .gridelem:hover */
.screen{
  background-color: black;
  color: greenyellow;
  grid-column: 1/  span 4;
  grid-row: 1/ span 2;
}
.AC{
  background-color: white;
  grid-column:  span 2;
}

.zero{
  grid-column:   span 2;
}

.EQ{
  grid-row:  span 2;
}

.num{
  background-color: blue;
}

.act{
  background-color: red;
}