* {
box-sizing: border-box;
margin: 0;
padding: 0;
}

div{
  border: 2px black solid;
  height: 20px;
  width: 20px;
}
.full{
  display: grid;
  grid-template-columns: repeat(15,1fr);
  /* grid-template-rows: 1fr 1fr 1fr; */
  /* border: 2px solid blue; */
  height: auto;
  width: fit-content;
}

.template{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  /* border: 2px solid blue; */
  height: auto;
  width: fit-content;
}
.beige{
  background-color: rgb(100, 100, 13);
}
.tan{
  background-color: tan;
}
.brown{
  background-color: brown;
}