<nav class="navbar bg-primary text-lg-start fixed-top" data-bs-theme="dark">
  <h1> ored Desings potoat</h1>
    <a class="nav-link" href="/">Home</a>
    <a class="nav-link" href="/search">Search</a>
    <h1>i added to the partial</h1>
  
  </nav>

  <h1>i added to the partial</h1>
  