*{
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: black;
}
h1{
    color: rgb(255, 0, 0);
}
form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: darkgray;
    border: 2px red solid;
    border-radius: 5px;
    width: auto;
    height: auto;
    
}